<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ROOT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date [%level] %logger{10} [%file : %line] %M %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.transaction.interceptor" level="TRACE" additivity="false">
        <appender-ref ref="ROOT_APPENDER"/>
    </logger>

    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="TRACE" additivity="false">
        <appender-ref ref="ROOT_APPENDER"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="ROOT_APPENDER"/>
    </root>

</configuration>